@import url('https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100..800&family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

.gujrati-font {
    font-family: 'Anek Gujarati', 'Inter', "roboto";
}

span.hero-text {
    font-size: 4.5rem;
    font-weight: 800;
    color: #fbff82;
}

@media (max-width: 768px) {
    span.hero-text {
        margin: 1rem 0;
        font-size: 4.5rem;
    }
    .page_topline  .container {
        padding: 1rem 0;
    }
}

